<mat-toolbar color="primary">
  <span>U.S. States Quiz</span>
  <span class="example-spacer"></span>
  <div class="timer">
    <!-- Time Left: {{ timerMinutes }}:{{ timerSeconds | number : "2.0" }} -->
  </div>
</mat-toolbar>

<div class="quiz-container">
  <mat-card *ngIf="currentQuestion">
    <mat-card-title>
      Question {{ currentIndex + 1 }} of {{ numQuestions }}: <br />
      <div>
        What is the capital of <strong>{{ currentQuestion.state }}</strong
        >?
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-radio-group
        [disabled]="disabledInputSelection()"
        [(ngModel)]="answers[currentIndex]"
        (change)="checkAnswer(answers[currentIndex])"
      >
        <mat-radio-button
          *ngFor="let option of currentQuestion.options"
          [value]="option"
        >
          {{ option }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        (click)="previousQuestion()"
        [disabled]="currentIndex === 0"
      >
        Previous
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="nextQuestion()"
        [disabled]="currentIndex + 1 === numQuestions"
      >
        Next
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button
  mat-raised-button
  color="warn"
  (click)="submitQuiz()"
  
>
  Submit Quiz
</button>
