.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.config-card {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: max(40rem);
    align-content: center;
    justify-content: center;

}

mat-card-title {
    padding: 1rem;
}

mat-card-content {
    display: flex;
    gap: 1rem;
}