@use '@angular/material' as mat;

@include mat.core();

$default-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette
        )
    )
);

$custom-density: mat.define-theme(
    (
        density: (
            scale:-4
        )
    )
);
:root {
    @include mat.all-component-themes($default-theme);
    @include mat.form-field-density($custom-density);
}